__pycache__/
*.py[cod]
*.so
*.o
.env
config/settings.json
config/settings.json.*
config/proxdmr.db*
config/jwt_secret.key
config/cert.pem
config/key.pem
config/recordings/*.wav
data/*.db*
src/data/*.db*
*.log
*.zip
*.tar.gz
*.7z
.vscode/
.idea/
*.onnx
*.onnx.json
tg_names_cache.json
callsign_cache.json
radioid_users.db
*.bak
*.orig
*.tmp
